---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/products",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((response) => response.json());

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { products: product },
    };
  });
}

const { products } = Astro.props;

---

<MainLayout headliner={products.title}>
  <div class="product-info">
    <h1>{products.title}</h1>
    <img src={products.image} alt="" />
    <h2>{products.title}</h2>
    <p>{products.description}</p>
    <p>{products.price} DKK</p>
  </div>
</MainLayout>

<style>
  .product-info {
    background-color: brown;
max-width: 1040px;
    border: solid;
    padding: 2em;
  }

  img {
    width: 100%;
  }
</style>
