---
const { data } = Astro.props;
---

<a href={`product/${data.slug}`}>
  <article class="productlist">
    <img src={data.image} alt="text" />
    <h3>{data.title}</h3>
    <div class="price">{data.price} DKK</div>
    <div class="stock">{data.in_stock}</div>
    <div class="buy">Tilføj kurv</div>
  </article>
</a>

<style>
  .productlist {
    background-color: brown;
    width: 400px;
    border: solid;
    padding: 2em;
  }

  img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  .buy {
    background-color: rgb(255, 253, 251);
    padding: 1em;
    width: fit-content;
  }
</style>
